.artist-profile {
    position: relative;

    display: flex;
}

.artist-details {
    flex: 50%;
    display: flex;

    flex-direction: column;

    padding: 24px 24px 24px 36px;
}

.artist-portfolio {
    display: flex;
    flex-direction: column;
    flex: 100%;

    padding-top: 24px;
    padding-right: 24px;
}

.artist-description {
    word-break: break-all;
}

.artist-tag {
    margin: 5px;
}

#MessageModal{
    z-index: 9000;

}

#message-modal-content{
height: 50vh;
}

#message-modal-body {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.modal-body textarea {
    width: 100%
}
