
.login-form {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  top: 15vh;
  left: 50vw;
  transform: translateX(-50%);
}

.login-button-wrapper {
  float: right;
}

.login-error-message {
  color: red;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-bottom {
  display: inherit;
  justify-content: space-between;
}