
.login-page {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  top: 15vh;
  left: 50vw;
  transform: translateX(-50%);
}

.login-input {
  margin-bottom: 8px;
  
}

.login-button {
  float: right;
}

.login-message {
  color: red;
  vertical-align: center;
}

#login-btn-auth-page{
  background-color: #4686f2;
  border-color: #4686f2;
}

.login-form-bottom {
  display: inherit;
  justify-content: space-between;
}