.navbar {
  position: fixed;
  background-color: #ffb164;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 10vh;
  z-index: 3;
}

.navbar-unauthenticated {
  position: fixed;
  background-color: #ffb164;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 10vh;
  z-index: 3;
}

.dropdown-menu {
  margin: 8px;
}

#tag-dropdown {
  margin-left: 8px;

}

#ddoptions{
  columns: 3;
}

.App {
  background-color: #ffb164;
}

.logo-section {
  margin-left: 25px;
}
.logo-section:hover{
  background-color: #ffb164;
}

.search-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 33vw;
  height: 8vh;
}

#header_search_button {
  background-color: #4686f2;
  border-color: #4686f2;
  margin-left: 8px;

}

.search-btns {
  width: 100px;
  height: auto;
}

.auth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-right: 1vw;
}

.auth-button {
  margin-right: 20px;
  cursor: pointer;
}

/* .behind-header {

  height: 5vh;
} */

#sign-up-btn {
  margin-right: 20px;
  cursor: pointer;
  background-color: #4686f2;
  border-color: #4686f2;
}

#login-btn {
  background-color: #ffb164;
  border-color: #ffb164;
  color: #485785;
  text-decoration-color: #4686f2;
  margin-right: 20px;
  cursor: pointer;
}