.navbar {
  position: fixed;
  background-color: #ffb164;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100vw;
  height: 10vh;
  z-index: 3;
}

.navbar-unauthenticated {
  position: fixed;
  background-color: #ffb164;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 10vh;
  z-index: 3;
}

.dropdown-menu {
  columns: 2;
}

#login_button {
}

#logo {
}

.App {
  background-color: #ffb164;
}

.logo-section {
  margin-left: 25px;
}

.logo-section-unauthenticated {
}

.search-section {
  display: flex;
  min-width: 25vw;
  margin-left: -50px;
}

#header_search_button {
  background-color: #4686f2;
  border-color: #4686f2;
  margin-left: 8px;

}

.auth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-right: 1vw;
}

.auth-button {
  margin-right: 20px;
  cursor: pointer;
}

#search_bar {
  width: 25vw;
}

/* .behind-header {

  height: 5vh;
} */

#sign-up-btn {
  margin-right: 20px;
  cursor: pointer;
  background-color: #4686f2;
  border-color: #4686f2;
}

#login-btn {
  background-color: #ffb164;
  border-color: #ffb164;
  color: #485785;
  text-decoration-color: #4686f2;
  margin-right: 20px;
  cursor: pointer;
}