
.signup-form {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  top: 15vh;
  left: 50vw;
  transform: translateX(-50%);
}

.signup-form-bottom {
  display: inherit;
  justify-content: space-between;
}

.signup-error-message {
  color: red;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  white-space: pre-line;
}

.signup-button-wrapper {
  float: right;
  white-space: nowrap;
}
