/*.work-image {
    height: 100px;
    width: auto;
}*/
.work-panel {
    display: flex;
    width: 75vw;
    flex-direction: column;
}

#offcanvasBottom {
    background-color: #4686f2;
    /*justify-content: center;*/
    /*position: fixed;*/
    transform: translate(50, -20);

    width: 33vw;
    height: 50vh;
}

#upvote {
    background-color: white;
    border-color: white;

}

.offcanvas-body small {
}

.form-control {
    margin-bottom: 10px;
}

.textarea{
    margin-top: 10px;
}