.work-image {
    height: 250px;
    width: auto;
}
.works {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 31vw;
    top: 10vh;
    left: 60vw;
    transform: translateX(-75%);
}
.uploadwork{
    display: flex;
    flex-direction: column;
}


#offcanvasBottom {
    background-color: #4686f2;
    justify-content: center;
    position: fixed;
}

#upvote {
    background-color: white;
    border-color: white;

}

