
.feed {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    align-content: space-around;
    /*width: 75vw;*/
    /*top: 30vh;*/
    /*left: 50vw;*/
    margin-left: 12.5vw;
    margin-right: 12.5vw;

    transform: translateY(15vh);

}

.loading-feed {
    display: flex;
    width: 50vw;top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
}


.card {
    position: relative;
    margin: auto;
    height: auto;
    width: 75vw;
    margin-bottom: 50px;
}