/* #search_bar {
      align-content: center;
      size: 75%;
}
 */
#home_search_bar {
  width: 70%;
}

#home_search_button {
margin-left: 8px;
}

.search-bar-home {
  display: inline-flex;
  position: relative;
  width: 50vw;
  height: 50px;
  top: 30vh;
  left: 50vw;

  transform: translateX(-50%);
}