/* #search_bar {
      align-content: center;
      size: 75%;
}
 */
#home_search_bar {
  width: 70%;
}

#home_search_button {
  margin-left: 8px;
}

.search-bar-home {
  display: inline-flex;
  position: relative;
  width: 50vw;
  height: 50px;
  top: 30vh;
  left: 50vw;
  z-index: 3;

  transform: translateX(-50%);
}
.HomePage {
  background: url("background.svg");
}

.home-page::before {
  content: "";
  background-image: url('background.svg'), url("bg2.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.33;
  z-index: 2;
}

h1 {
  display: flex;
  justify-content: center;
  position:fixed;
  width: 50vw;
  top: 30vh;
  left: 50vw;

  transform: translateX(-50%);
}

