.search-results {
    display: inline-flex;
    width: 250px;
    position: relative;
    top: 15vh;
    left: 50vw;
    transform: translateX(-50%);
}

.card {
    height: 15vh;
    transform: translateY(50%);
}