.search-results {
    /*margin-top: 5vh;*/
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    position: relative;
    top: 15vh;
    left: 50vw;
}

#search-card {
    transform: translateX(-50%);
}